.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

input {
  padding: 9px 0;
  /* width: 100%; */
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: orange;
}

.linie {
  height: 4px;
  width: 50px;
  background-color: aqua;
  margin-top: 2rem;
}
